@media only screen and (max-width: 1440px){
    body {
        width: 80%;
    }
    
}

@media only screen and (max-width: 1200px){
    .line {
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media only screen and (max-width: 500px){
    .sidebar {
        width: 100%;
    }
}

